---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Lato' !important;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6em;

$spacing-unit:     15px;
$light-accent-color:     #FFB454;
$dark-accent-color:      #FF7733;

$text-color:       #C5C5C5;
$background-color: #14191F;
$header-color:     $dark-accent-color;

$brand-color:      $light-accent-color;
$brand-top-color:  $dark-accent-color;

$link-color:	   $light-accent-color;
$link-sidebar-color: lighten($dark-accent-color,15%);

$hover-color:      #E5E5E5;

$secondary-color:       lighten(#C8C9DB,15%);
$secondary-color-light: lighten($secondary-color, 40%);
$secondary-color-dark:  darken($secondary-color, 25%);

$code-backgroud-color: #29281e;
$code-font-color:  #eee;  


// Width of the content area
$content-width:    960px;
$page-width:       1000px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
		"layout",
		"lato",
        "_syntax-highlighting-native" // "syntax-highlighting"
;

// @import "../fonts/lato";
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
